@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.main-container header {
  padding: 2rem 2rem;
}

.main-container header .header__logo {
  display: block;
  width: 7rem;
}

.main-container .img__mobile-photo {
  width: 100%;
}

.main-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 1.5rem;
  padding: 1.1rem 1.1rem 3rem 1.1rem;
}

.main-container .container *:not(input[type="email"]) {
  text-align: center;
}

.main-container .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding-top: 3rem;
}

.main-container .container .title * {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  color: #413a3a;
}

.main-container .container .title span:nth-child(1) {
  font-weight: 300 !important;
  color: #ce9797 !important;
}

.main-container .container .description {
  font-weight: 400;
  color: #ce9797;
  text-align: center;
  line-height: 1.6em;
  font-size: 1.001rem;
}

.main-container .container .btn-section {
  padding-top: 1rem;
  position: relative;
}

.main-container .container .btn-section input {
  outline: none;
  border: none;
  border: 1px solid #ce9797;
  width: 100%;
  padding: 1.01rem 6.5rem 1rem 1.3rem;
  border-radius: 25px 21px 21px 25px;
}

.main-container .container .btn-section input::-webkit-input-placeholder {
  color: #ce9797;
}

.main-container .container .btn-section input:-ms-input-placeholder {
  color: #ce9797;
}

.main-container .container .btn-section input::-ms-input-placeholder {
  color: #ce9797;
}

.main-container .container .btn-section input::placeholder {
  color: #ce9797;
}

.main-container .container .btn-section .error-icon {
  visibility: hidden;
  position: absolute;
  right: 80px;
  bottom: 10px;
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}

.main-container .container .btn-section button {
  -webkit-box-shadow: 0px 10px 30px #ce9797;
          box-shadow: 0px 10px 30px #ce9797;
  outline: none;
  border: none;
  padding: 0.79rem 1.7rem;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 40px;
  position: absolute;
  right: -2px;
  bottom: 1px;
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
}

.main-container .container .btn-section button:hover {
  cursor: pointer;
  background: #f8c3c3;
}

.main-container .container .error-message {
  visibility: hidden;
  color: #f96262;
  text-align: left !important;
  margin: -10px 0;
  padding: 0 1rem;
}

.desktop-photo {
  display: none;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    padding: 0;
  }
  main {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 50% 100%;
    background-repeat: repeat-x;
    background-position: bottom right;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .desktop-photo {
    display: block;
    height: 100vh;
  }
  .main-container {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    gap: calc(40% / 2);
    width: 40em;
    margin: 0 auto;
    padding: 5rem 5.5rem;
    height: 100%;
  }
  .main-container .img__mobile-photo {
    display: none;
  }
  .main-container header {
    padding: 0;
  }
  .main-container header .header__logo {
    width: 9rem;
  }
  .main-container .container {
    padding: 0;
  }
  .main-container .container .title {
    padding-top: 0;
  }
  .main-container .container .title *:not(input[type="email"]) {
    text-align: left;
    font-size: 3.5rem;
  }
  .main-container .container .description {
    text-align: left !important;
    width: 45ch;
  }
  .main-container .container .btn-section {
    padding-top: 2.1rem;
    width: 25em;
  }
  .main-container .container .btn-section .error-icon {
    position: absolute;
    right: 95px;
    bottom: 10px;
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  .main-container .container .btn-section button {
    right: -2px;
    padding: 0.79rem 2.5rem;
  }
}
