@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

// Primary
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

// Neutral
$darkGrayishRed: hsl(0, 6%, 24%);

// Gradients
$grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

@mixin displayFlex($direction, $just-content, $al-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just-content;
  align-items: $al-items;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  @include displayFlex(column, center, center);
}

.main-container {
  @include displayFlex(column, flex-start, stretch);
  min-height: 100vh;
  height: 100%;
  width: 100%;

  header {
    padding: 2rem 2rem;

    .header__logo {
      display: block;
      width: 7rem;
    }
  } // end of header

  .img__mobile-photo {
    width: 100%;
  }

  .container {
    @include displayFlex(column, none, none);
    gap: 1.5rem;
    padding: 1.1rem 1.1rem 3rem 1.1rem;

    *:not(input[type="email"]) {
      text-align: center;
    }

    // Title Section
    .title {
      @include displayFlex(column, none, none);
      padding-top: 3rem;

      * {
        font-size: 2.8rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 600;
        color: $darkGrayishRed;
      }

      span:nth-child(1) {
        font-weight: 300 !important;
        color: $desaturatedRed !important;
      }
    }

    // Paragraph
    .description {
      //   padding: 0.5rem;
      font-weight: 400;
      color: $desaturatedRed;
      text-align: center;
      line-height: 1.6em;
      font-size: 1.001rem;
    }

    .btn-section {
      //   max-width: 100%;
      padding-top: 1rem;
      //   padding: 0 2rem;
      position: relative;
      // background: red;
      input {
        outline: none;
        border: none;
        background: $grad1;
        border: 1px solid $desaturatedRed;
        width: 100%;
        padding: 1.01rem 6.5rem 1rem 1.3rem;
        border-radius: 25px 21px 21px 25px;
      }
      input::placeholder {
        color: $desaturatedRed;
      }

      .error-icon {
        visibility: hidden;
        position: absolute;

        // right: 110px;
        // right: 70px; eto original
        right: 80px;
        bottom: 10px;
        transform: translate(-1px, -1px);
      }

      button {
        box-shadow: 0px 10px 30px $desaturatedRed;
        outline: none;
        border: none;
        padding: 0.79rem 1.7rem;
        // padding: 0.8rem 1.9rem; // eto original
        // padding: 0.9rem 1.9rem; // eto ung orginal
        // padding: 0.9rem 2.5rem; // for desktop
        background: $grad2;
        border-radius: 40px;

        position: absolute;

        // right: 30px;
        right: -2px;
        bottom: 1px;
        transform: translate(3px, 1px);
      }

      button:hover {
        cursor: pointer;
        background: hsl(0, 80%, 87%);
      }
    }

    .error-message {
      visibility: hidden;
      color: $softRed;
      text-align: left !important;
      margin: -10px 0;
      padding: 0 1rem;
    }
  }
}

.desktop-photo {
  display: none;
}

// MEDIA QUERIES

@media only screen and (min-width: 768px) {
  main {
    max-width: 50vw;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    padding: 0;
  }
  main {
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: 50% 100%;
    background-repeat: repeat-x;
    background-position: bottom right;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    @include displayFlex(row, stretch, none);
    justify-content: space-between;
  }

  .desktop-photo {
    display: block;
    height: 100vh;
  }

  .main-container {
    display: grid;
    grid-auto-rows: min-content;
    gap: calc(40% / 2);
    width: 40em;
    margin: 0 auto;
    padding: 5rem 5.5rem;
    height: 100%;

    // hidden mobile photo
    .img__mobile-photo {
      display: none;
    }

    // Logo
    header {
      padding: 0;

      .header__logo {
        width: 9rem;
      }
    }

    // Title, description and button
    .container {
      padding: 0;

      .title {
        padding-top: 0;
        *:not(input[type="email"]) {
          text-align: left;
          font-size: 3.5rem;
        }
      }

      .description {
        text-align: left !important;
        width: 45ch;
      }

      .btn-section {
        padding-top: 2.1rem;
        width: 25em;

        .error-icon {
          position: absolute;
          right: 95px;
          bottom: 10px;
          transform: translate(-1px, -1px);
        }

        button {
          right: -2px;
          padding: 0.79rem 2.5rem;
        }
      }
    }
  }
}
